Tests: runtime-libs
Depends: apt, python3-minimal
Restrictions: allow-stderr

Tests: libc-link
Depends: gcc-6, libc6-dev | libc-dev

Tests: libstdcxx-link
Depends: g++-6

Tests: libgfortran-link
Depends: gfortran-6

Tests: libgo-link
Depends: gccgo-6

Tests: libgomp-link
Depends: gfortran-6, gcc-6

Tests: libgnat-link
Depends: gnat-6

Tests: shlib-build
Depends: gcc-6, libc6-dev | libc-dev
